body {
  display: grid;
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(20, 11, 145);
   grid-template-columns: 20% auto auto;
   grid-template-rows: 17% 72% 72%;
   grid-template-areas: 
      "head head head"
      "nav article article"
      "nav foot foot"; 
}
h1{
  text-align: center;
  border: solid 2px red; 
  font: 50pt;
  background-color: #f0f0f0bd;
  padding: 5px;
  border-radius: 15px;
  grid-area: head;
}
.topBlog{
  border: 2px rgb(253, 4, 4) solid;
  background-color: #04AA6D;
  width: 50%;
  color: white;
}
.list{
 
  border: 2px rgb(182, 166, 23) solid;
  background-color: #f0f0f0bd;
  padding: 5px;
  border-radius: 15px;
  width: 90%;
  color: blueviolet;
  grid-area: nav;
  
 
}
a {
  color: #00B7FF;
}
.article{
  border: solid 2px black;
  font: 50px;
  background-color: #f0f0f0bd;
  padding: 5px;
  border-radius: 15px;
  display: inline-grid;
  grid-area: foot;
  
}
.article-left{
  border: 2px rgb(182, 166, 23) solid;
  grid-column: 1/4;
  grid-row: 1/4;
  width: 25%;
}
.article-middle{
  border: 2px rgb(23, 182, 57) solid;
  width: 30%;
  grid-row: 1/4;
  grid-column: 2/4;
}
.article-right{
  border: 2px rgb(230, 24, 219) solid;
  grid-row: 1/4;
  grid-column: 3/4;
  width: 30%;
}
.test{
  border: solid 2px blue;
  font: 50pt;
  color: rgb(0, 0, 0);
  background-color: #f0f0f0bd;
  padding: 5px;
  border-radius: 15px;
  grid-area: article;
  
}