body {
  display: grid;
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: aqua;
  background-image: url();
  background-repeat: no-repeat;
  background-size: 100% 100%;
   grid-template-columns: auto auto auto;
   grid-template-rows: auto 50% auto;
   grid-template-areas: 
      "head head head"
      "article article article"
      "foot foot foot"; 
}
h1{
  text-align: center;
  border: solid 2px red; 
  font: 50pt;
  background-color: #f0f0f000;
  padding: 5px;
  border-radius: 15px;
  grid-area: head;
}

.article{
  border: solid 2px black;
  font: 50px;
  background-color: #f0f0f000;
  padding: 5px;
  border-radius: 15px;
  display: inline-grid;
  grid-area: foot;
  width: 70%;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.article-left{
  border: solid 2px rgb(0, 0, 0);
  background-color: #f0f0f0;
  grid-row: 1/4;
  box-shadow: 5px 5px;
  border-radius: 15px;
}

.article-middle{
  border: solid 2px rgb(0, 0, 0);
  background-color: #f0f0f0;
  grid-row: 1/4;
  box-shadow: 5px 5px;
  border-radius: 15px;
}

.article-right{
  border: solid 2px rgb(0, 0, 0);
  background-color: #f0f0f0;
  grid-row: 1/4;
  width: 125%;
  box-shadow: 5px 5px;
  border-radius: 15px;
}

.blogDiv{
  border: solid 2px blue;
  font: 50pt;
  color: rgb(0, 0, 0);
  background-color: #f0f0f000;
  padding: 20px;
  border-radius: 15px;
  grid-area: article;
  overflow: auto;
  width: 99%;
  margin-left: auto;
  margin-right: auto;
}

.listOfBlogs{
  border: solid 2px rgb(0, 0, 0);
  font: 50pt;
  color: rgb(0, 0, 0);
  background-color: #f0f0f0;
  padding: 5px;
  margin: 20px;
  border-radius: 15px;
  grid-area: article;
  overflow: auto;
  box-shadow: 5px 5px;
  opacity: 0.8;
}
.listOfBlogs:hover{
  opacity: 1
}

.dateAndNumber{
  font: 50pt;
  color:rgb(0, 0, 0);
  font-weight: bold;
}

.titleOfBlog{
  font: 50pt;
  color:rgb(0, 0, 0);
  font-weight: bold;
  display:inline-block;
  position: relative;
  margin: auto;
}

.titleOfBlog:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background:linear-gradient(45deg,yellow, green, blue); 
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.titleOfBlog:hover:after{
  transform:scaleX(1);
  transform-origin: bottom left;
}

.textBoxHeaders{
  text-align: center;
}

.btn{
  background-color: #3b0ba8;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.5s;
}

.btn:hover {
  opacity: 1
}

