extends layout

block content
  
  h1= title
 
  
  br
  table
  .article
    .article-left
      form(action='/add', method='POST')
        p Title
        input(type='text', name='blog_txt', value="") 
        p Blog 
        textarea(type='text', name='blog_body', maxlength="300", tabindex="100", rows="10", cols="30",value="")
        br
        button(type='submit')
          p Add New Blog
    
        
        
    .article-middle
      form(action='/edit', method='POST')
        p ID
        input(type='text', name='blog_id', value="")
        p Title
        input(type='text', name='blog_txt', value="")
        p Blog
        textarea(type='text', name='blog_body', maxlength="300", tabindex="100", rows="10", cols="30",value="")
        br
        button(type='submit')
          p Edit/Update the Blog
   
    .article-right
      form(action='/delete', method='POST')
        input(type='text', name='blog_id', value="")
        br
        button(type='submit')
          p Delete a Blog
  .test 
    ul
    p.topBlog Current list of Blogs 
    each value in data
      .tester
        - let helper = value.blog_txt
        - let helper2 = value.blog_body
        -let helper3 = value.blog_date
        br
        p.title Title
        p !{helper} 
        p.title Date 
        p !{helper3}
        p.title Body
        p !{helper2}
        br      
  
    

