extends layout

block content
  
  h1= title
  //p.list  Welcome to the final lab
  
  ul.list
    p.topBlog Current list of Blogs 
    each value in data
      - let helper = value.blog_txt
      br
      button(type='button', onclick="myFunction()")
        p !{helper}
  br
  table
  .article
    .article-left
      form(action='/add', method='POST')
        p Title
        input(type='text', name='blog_txt', value="") 
        p Blog 
        textarea(type='text', name='blog_body', maxlength="300", tabindex="100", rows="10", cols="30",value="")
        br
        button(type='submit')
          p Add New Blog
    .article-right
      form(action='/delete', method='POST')
        input(type='text', name='blog_id', value="")
        button(type='submit')
          p Delete a Blog
        
        
    .article-middle
      form(action='/edit', method='POST')
        p Old Title
        input(type='text', name='blog_txt', value="")
        p New Title
        input(type='text', name='blog_txt', value="")
        p Blog
        textarea(type='text', name='blog_body', maxlength="300", tabindex="100", rows="10", cols="30",value="")
        br
        button(type='submit')
          p Edit/Update the Blog
   

  .test 
    p hello
    
