extends layout

block content
  
  h1= title
  //p.list  Welcome to the final lab
  
  ul.list
    p.topBlog Blogs
    each value in data 
      li= value.blog_txt 
  br
  .article 
    form(action='/add', method='POST')
      input(type='text', name='blog_txt', value="")
      input(type='text', name='blog_body', value="")
      button(type='submit')
        p New
    form(action='/delete', method='POST')
      input(type='text', name='blog_id', value="")
      button(type='submit')
        p Delete
    form(action='/edit', method='POST')
      input(type='text', name='blog_txt', value="")
      input(type='text', name='blog_body', value="")
      button(type='submit')
        p Edit
    form(action='/update', method='POST')
      input(type='text', name='blog_txt', value="")
      input(type='text', name='blog_body', value="")
      button(type='submit')
        p Update 

  div.test hey there 
    ul
      each value in data 
        li= value.blog_body  
    br